html {
    scroll-behavior: smooth;
}

body{
    color: #454545 !important;
}

.text-primary, .border-primary, .lni{
    color: #dc3545 !important;
}

.border-primary {
    border-color: #dc3545 !important;
}

.bg-primary, .progress-bar{
    background-color: #dc3545 !important;
}

a{
    color: #454545 !important;
    text-decoration: none !important;
}

a:hover{
    color: #dc3545 !important;
    text-decoration: none !important;
}

.btn-outline-primary{
    border-color: #dc3545 !important;
    color: #dc3545 !important;
}

.btn-outline-primary:hover {
    color: #fff !important;
    border-color: #dc3545 !important;
    background-color: #dc3545 !important;
}

#side .nav-link.active,
#side .nav-link:hover,
#side .nav-link:focus{
    color: #111;
    border-bottom: 1px #454545 dashed;
}

#main-content{
    position: relative;
}

.content{
    margin-left: 16.6666666667%;
}

.section {
    position: relative;
    padding: 4.5rem 0;
    overflow: hidden;
}

.hero-wrap .hero-mask {
    z-index: 1;
}

.hero-wrap {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.hero-bg{
    background-image: url("/content/images/intro-bg.jpeg"); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center -79px;
}

.hero-wrap .hero-mask, .hero-wrap .hero-bg, .hero-wrap .hero-bg-slideshow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.hero-content{
    z-index: 1; 
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform:translate(0%, -50%);
    -webkit-transform:translate(0%, -50%);
}

.hero-mask{
    opacity: 0.8;
}

.bg-dark {
    background-color: #111418 !important;
}

.scroll-down-arrow {
    position: absolute;
    z-index: 3;
    bottom: 20px;
    left: 50%;
    margin-left: -16px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 20px;
    text-align: center;
    color: #fff;
}

.scroll-down-arrow .animated {
    position: relative;
    animation: fadeInDown 0.8s infinite;
    -webkit-animation: fadeInDown 0.8s infinite;
    -moz-animation: fadeInDown 0.8s infinite;
    -o-animation: fadeInDown 0.8s infinite;
}

.animated-icon {
    -webkit-animation: mover 0.8s infinite  alternate;
    animation: mover 0.8s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

.brands-grid.separator-border > .row > *:before {
    height: 100%;
    top: 0;
    left: -1px;
    border-left: 1px dotted #e0dede;
}

.sidebar{
    color: #454545 !important;
    background-color: #f8f9fa!important;
    position: fixed;
    left: 0;
    top: 0;
    /* width: 16.6666666667%; */
    height: 100% !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #dc3545 !important;
    background-color: #f8f9fa!important;
}

.brands-grid > .row > * {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}